

body {
    overflow: auto;
}
main {
    font-size: 1.5rem;
    display: block;
}
h1, h3, hr {
    flex: 0
}
.studyGroup {
    margin-top: 2vh;
}
h1 {
    font-size: 1.5rem;
}
hr {
    margin-left: 3vh;
    margin-right: 3vh;
}
#cardList {
    margin: 0 2vw 2vw 2vw;
}
.card {
    flex: 1;
    text-align: left;
    padding: 1vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: .25vh;
}
.date, .lessonTitle {
    flex: 1;
}
.date {
    opacity: 0.65;
}
.lessonTitle {
    font-size: 1.25rem;
}