
body {
    overflow: hidden;
    min-height: 100vh;
}
main {
    font-size: 1rem;
    padding: 3vh;
    flex-grow: 1;
    /* max-height: 80vh; */
    /* max-height: calc(100% - 50px - 40px); */
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#discussion h1, h3{
    flex: 0;
}
#discussion h1 {
    font-size: 2rem;
}
#discussion h3 {
    font-size: 1.5rem;
}
.userName {
    font-weight: bold;
}
.scriptureReference {
    text-decoration: underline;
}
#discussion {
    /* max-height: 70vh; */
    display: flex;
    flex-direction:column;
    flex: 1;
    overflow: hidden;
    margin-left: 5vw;
    margin-right: 5vw;
}
#discussionFeed {
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    font-size: 1rem;
}
footer {
    margin-top: auto;
    flex-shrink: 0;
    height: 50px;
    display: flex;
}
form {
    flex-shrink: 0;
    margin-top: auto;
    flex: 0 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
input {
    border-radius: 20px;
    border: none;
    padding: 1vw;
    width: 80%;
    height: 80%;
    outline: none;
}
.btn-primary {
    background-color: var(--secondary-color);
    border: none;
    --bs-btn-hover-bg: var(--secondary-color-lighter-1);
    flex: 0.5;
    --bs-btn-active-bg: var(--secondary-color-lighter-2);
    font-weight: bold;
}

#sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    /* right: 0px; */
    right:-250px;
    height: 100%;
    background-color: var(--primary-color-lighter);
    transition: right 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

#sidebar.show {
    right: 0; /*for using js: add show class to the sidebar*/
}

#sideHead {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vh;
    color: var(--accent-color);
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid var(--secondary-color-lighter-1);
}

#xButton {
    background: none;
    border: none;
    position: absolute;
    right: 0px;
    top: -5px;
    color: var(--secondary-color-darker);
}

.scripture {
    text-align: left;
    overflow: auto;
}

.verseNumber {
    color: var(--accent-color);
    font-weight: bold;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}