
body {
    overflow: hidden;
    min-height: 100vh;
}
main {
    font-size: 1em;
    padding: 2vh;
    flex-grow: 1;
    max-height: 60vh;
}
.userName {
    font-weight: bold;
}
.scriptureReference {
    text-decoration: underline;
}
/* .staticFooterWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
} */
#discussion {
    max-height: 70vh;
}
#discussionFeed {
    max-height: 60%;
    overflow: auto;
}
footer {
    margin-top: auto;
    flex-shrink: 0;
}
form {
    flex-shrink: 0;
    margin-top: auto;
}
main h3 {
    /* align-self: flex-start; */
}