
body {
    overflow: auto;
}
main {
    font-size: 1em;
    padding: 2vh;
    flex-grow: 1;
}
.userName {
    font-weight: bold;
}
.scriptureReference {
    text-decoration: underline;
}
.staticFooterWrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
#discussion {
    max-height: 70vh;
}
#discussionFeed {
    height: 100%;
    overflow: auto;
}
main h3 {
    /* align-self: flex-start; */
}