main {
    color: var(--secondary-color);
    flex: 1;
    font-size: 2rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.btn-primary {
    background-color: var(--secondary-color);
    border: none;
    --bs-btn-hover-bg: var(--secondary-color-lighter-1);
    flex: 0.5;
    --bs-btn-active-bg: var(--secondary-color-lighter-2);
    width: 75%;
    margin: 10px;
    font-weight: bold;
    font-size: 1.25rem;
}
#studybtn {
    width: 100%;
    flex: 1;
}
#studysubmitbtn {
width: 30%; 
}
form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#studygroupinput {
    max-width: 75%;
}
input {
    font-size: 1rem;
    text-align: center;
    width: 150%;
    border-radius: 20px;
    border: none;
    height: 2rem;
    outline: none;
}
h2 {
    font-size: 3rem;
    margin-bottom: 3vh;
}
#createstudy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#or {
    flex:1;
    margin-top: 2vh;
    margin-bottom: 0;
}

