main {
    color: var(--secondary-color);
    flex: 1;
    font-size: 2rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.btn-primary {
    background-color: var(--secondary-color);
    border: none;
    --bs-btn-hover-bg: var(--secondary-color-lighter-1);
    flex: 0.5;
    --bs-btn-active-bg: var(--secondary-color-lighter-2);
    width: 75%;
    margin: 10px;
    font-weight: bold;
}
form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: .9rem;
}

input {
    font-size: .5rem;
    text-align: center;
    width: 150%;
    border-radius: 20px;
    border: none;
    height: 4vh;
    outline: none;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 3vh;
}