body {
    overflow: auto;
}
main {
    align-items: center;
    justify-content: center;
}
h1 {
    flex: 0;
    font-size: 1.5em;
}
h3 {
    flex: 0;
}
hr {
    flex: 0;
}
table {
    flex: 1;
    margin: 2vh;
    width: 80%;
}
tr {
    border-bottom: 1px solid black;
}
img {
    flex: 0;
    /* margin: 2vh; */
    width: 100%;
}
#imgTitle {
    width: 100%;
    /* position: relative; */
    background-image: url("https://www.churchofjesuschrist.org/imgs/4005509d620611eebc38eeeeac1ec7196f7f2ce7/full/!1920%2C440/0/default");
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
}
#studyGroupTitle {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.logged-in {
    color: green;
}
.logged-out {
    color: red;
}