body {
    overflow: auto;
}
main {
    align-items: center;
    justify-content: center;
}
h1 {
    flex: 0;
}
h3 {
    flex: 0;
}
hr {
    flex: 0;
}
table {
    flex: 0;
}
img {
    flex: 0;
    /* margin: 2vh; */
    width: 100%;
}
#imgTitle {
    width:100%;
    position: relative;
}

.pageTitle {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    z-index: 1; /* Ensure the text appears above the image */
    color: white; /* Optional: Set text color */
    /* font-size: 24px; */
}
#members {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    z-index: 1; /* Ensure the text appears above the image */
    color: white; /* Optional: Set text color */
    /* font-size: 24px; */
}