main {
    color: var(--secondary-color);
    flex: 1;
    font-size: 1.5rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#loginPage .btn-primary {
    background-color: var(--secondary-color);
    border: none;
    --bs-btn-hover-bg: var(--secondary-color-lighter-1);
    flex: 0.5;
    --bs-btn-active-bg: var(--secondary-color-lighter-2);
    width: 75%;
    margin: 10px;
    font-weight: bold;
    font-size: 1.25rem;
}

/* #btnWrapper {
    display: flex;
    flex-direction: column;
} */
#loginPage #studybtn {
    width: 100%;
    flex: 1;
}
#loginPage #studysubmitbtn {
width: 30%; 
}
#loginPage #registerbtn {
    width: 100%;
    flex: 1;
}
#loginPage #studysubmitbtn {
width: 30%; 
}
#loginPage .form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginPage #studygroupinput {
    max-width: 75%;
}
#loginPage input {
    font-size: 1rem;
    text-align: center;
    width: 150%;
    border-radius: 20px;
    border: none;
    height: 1.5rem;
    outline: none;
}
#loginPage label {
    font-size:1.25rem;
}
#loginPage h2 {
    font-size: 3rem;
    /* margin-bottom: 3vh; */
}
#loginPage #createstudy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginPage #or {
    flex:1;
    margin-top: 2vh;
    margin-bottom: 0;
}

#loginPage #studyLoginTitle {
    font-size: 2.5rem;
    margin-bottom: 5vh;
    flex: 1;
}
