.body {
    overflow: auto;
}
#usersPage main {
    align-items: center;
    justify-content: center;
}
#usersPage h1 {
    flex: 0;
    font-size: 2.5rem;
}
#usersPage h3 {
    flex: 0;
}
#usersPage hr {
    flex: 0;
}
#usersPage table {
    flex: 1;
    margin: 2vh;
    width: 80%;
    margin-bottom: 5vh;
    font-size: 1.5rem;
}
#usersPage tr {
    border-bottom: 2px solid var(--secondary-color-lighter-1);
}
#usersPage th {
    color: var(--secondary-color-darker);
    font-size: 2rem;
}
#usersPage img {
    flex: 0;
    /* margin: 2vh; */
    width: 100%;
}
#usersPage #imgTitle {
    width: 100%;
    /* position: relative; */
    background-image: url("https://www.churchofjesuschrist.org/imgs/4005509d620611eebc38eeeeac1ec7196f7f2ce7/full/!1920%2C440/0/default");
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
}
#usersPage #studyGroupTitle {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#usersPage .online {
    color: green;
}
#usersPage .offline {
    color: red;
}
#usersPage #logoutBtn {
    font-weight: bold;
  }